
.interface {
    max-width: 1024px;
    margin: auto;
}

.header {
    padding: 40px 4%;
}

.header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .interface .logo img {
    width: 150px;    
    filter: drop-shadow(1px 1px 10px rgb(48, 14, 80));
}

.header nav.menu-desktop li {
    display: inline-block;
    padding: 0 40px;
}

.header a {
    display: inline-block;
    transition: 0.3s
}

.header nav.menu-desktop a:hover {
    color: blueviolet;
    transform: scale(1.05);
}

/* ESTILO TOPO */

.topo-do-site {
    padding: 40px 4%;
}

.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: blueviolet;
}

.topo-do-site .txt-topo-site p {
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img {
    width: 600px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

.sobre {
    padding: 80px 4%;
}

.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre img {
    width: 400px;
    filter: drop-shadow(1px 10px 10px rgb(48, 14, 80));
    border-radius: 50px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre .txtsobre h2 span {
    color: blueviolet;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: blueviolet;
    margin: 0 5px;
    transition: .3s;
}

.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(137, 43, 226, 0.231);
}

.portifolio .interface {
    flex-direction: column;
}

.portifolio .flex {
    justify-content: space-evenly;
    margin-top: 60px;
    gap: 20px;
}

.portifolio .interface .flex .card {
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border: 1px solid var(--dourado);
    transition: all .5s ease;
}

.portifolio .interface .flex .card:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 15px var(--dourado-claro);
}

.portifolio .interface .flex .card img {
    width: 100%;
    height: auto;      /* Corta a imagem proporcionalmente sem distorcer */
    border-radius: 10px 10px 0 0;
}

.card .descricao-card {
    text-align: center;
    font-size: 0.95rem;
    line-height: 1.5;
    flex-grow: 1;
}

.card .btn-card {
    background-color: var(--dourado-claro);
    border: 2px solid var(--dourado);
    padding: 10px 40px;
    border-radius: 7px;
    color: black;
    font-weight: bold;
}

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(137, 43, 226, 0.231);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 50px;
}

footer .btn-social {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 2rem;
}

footer .btn-social a {
    color: var(--texto);
    transition: all .5 ease;
    -webkit-text-stroke: 1px var(--roxo-escuro);
}

footer .btn-social a:hover {
    transform: translateY(-7px);
    filter: drop-shadow(0 0 15px var(--dourado-claro));
}

footer .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

footer .email p {
    color: var(--dourado);
}

@media (min-width:768px) {
    footer .btn-social,
    footer .email {
        flex-direction: row;
    }

    footer .btn-social{
        width: 50%;
    }
}