body {
    background-color: #000;
    height: 100vh;
    color: #fff;
    font-family: poppins;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: blueviolet;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: blueviolet;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover, .formulario .btn-enviar input:hover {
    box-shadow: 0px 0px 10px blueviolet;
    color: #fff;
    transform: scale(1.05);
}